/*
Author         :     Ivan Koundratas
Date published  :     June 4th 2021
*/


/*
Colours
#01AE07 - Dark green
#068D0B - Darkest green
#12D619 - Bright-ish green
#23EB2A - Bright green
#484848 - Dark gray
*/

@keyframes loading {
    /*Custom CSS animation code for when the website is opened or refreshed - gives everything a chance to load in*/
    0% {
        /*Brings the div class to cover everything immidiately*/
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
    }
    25% {
        /*Allows some time to pass*/
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
    }
    100% {
        /*Moves everything upwards and reveals everything*/
        height: 0px;
        left: 0px;
        top: 0px;
        width: 100%;
        /*Using % so element is not fixed, but flexible with the endusers screen*/
    }
}

::selection {
    /*When the user highlights something on the website, these colours will be used - purely aesthetic*/
    color: white;
    background: #005103;
    -webkit-text-fill-color: white;
}

::-webkit-scrollbar {
    /*Changes how the scrollbar looks*/
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #cfcfcf;
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: #999;
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb:hover {
    background: #01AE07;
}

::-webkit-scrollbar-thumb:active {
    background: #068D0B;
}

* {
    /*Changes everything on the website*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*give everything this font*/
    color: #484848;
    /*give all text this color*/
    transition: .1s ease-in-out;
    /*gives everything a transition*/
}

body {
    /*Changes everything in <body>*/
    width: 100%;
    /*Takes the width of the end-users screen width*/
    background-color: #FFFFFF;
    /*Sets a for background for certain browser themes*/
    margin: 0;
    padding: 0;
    /*Sometimes browsers give body a default padding or margin, these override those default settings*/
}

.animation,
.animation2 {
    /*First animation block thats gray with the logo*/
    float: right;
    /*Keeps it to right*/
    margin: auto;
    /*Keeps it centered*/
    position: fixed;
    /*Posistion is fixed, so it always appears in one place if the user scrolls. Also accepts relative coordinates*/
    animation: loading cubic-bezier(.52, .02, .52, .99) 1.25s;
    /*Links to @keyframes loading and follows them over 4 seconds*/
    height: 0vw;
    /*Makes the height 0 so it appears invisible*/
    top: -999999px;
    /*Just incase it's visible, move it up a ridiculous amount*/
    width: 0vw;
    /*Get rid of the width for the same effect as height*/
    z-index: 9999;
    /*Bring it to the very front in 3d space - makes sure nothing underneath is visble ontop of the animation*/
    background-color: #cfcfcf;
    /*Setting the gray colour*/
}

.animation2 {
    animation-delay: 0.1s;
    background-color: #068D0B;
}

.navbars {
    /*Properties for which all the navigation buttons are placed inside of*/
    margin: 40px 112px;
    /*Makes sure all surronding elements are 40px away (sideways) and 112px (vertically) - also keeps everything inside from overflowing*/
    transition: ease-in-out 300ms;
}

.active {
    /*Adjusts navigation button whether it's on that page or not*/
    font-weight: bold;
    /*Makes the text bold*/
}

.nav-logo {
    /*Properties for the nav logo*/
    display: inline-block;
    /*Makes it possbile for HTML attributes to be side by side*/
    margin: auto 30px auto auto;
    /*Makes sure anything to the right is pushed 30px*/
    background-image: url(/imgs/bobuxtext.svg);
    /*Easy method to get images in a navbar without using <img> and have it be clickable*/
    background-size: contain;
    /*The background image will fill the space*/
    background-repeat: no-repeat;
    width: 202px;
    height: 60px;
    transition: ease-in-out 300ms;
    z-index: 10;
}

.nav-button {
    /*Properties for all the buttons in the navbar - EXCEPT SIGNUP*/
    color: #484848;
    /*Reseting the colour as href="" gives it a 'link' colour*/
    font-size: 20px;
    /*Setting a fixed font size*/
    text-align: center;
    /*Put the text in the center*/
    display: inline-block;
    margin: auto 31px;
    /*Keep everything on either side 31px away*/
    position: relative;
    /*The posistion can be moved relative to where it's placed in HTML*/
    top: -21px;
    /*Move the button 21px upward relative to where it originally was*/
    transition: ease-in-out 300ms;
    /*Add a transistion for whenever the button transforms*/
    text-decoration: none;
    /*Gets rid of the underline given by href=""*/
}

.nav-button::after {
    /*Properties for the underline appearing when a nav-button is hovered*/
    content: "";
    /*Making sure theres no text in the block*/
    display: block;
    height: 2px;
    background-color: transparent;
    /*Making the background transparent so it "fades in"*/
    width: 0;
    transition: ease-in-out 300ms;
}

.nav-button:hover {
    /*When a nav-button is hovered, adjust the text colour (implemented because of bootstrap)*/
    color: #484848;
}

.nav-button:hover::after {
    /*When a nav-button is hovered, adjust the nav-bt::after*/
    width: 100%;
    /*Makes the width 100% of the nav-bt*/
    background-color: #484848;
    /*Changes the colour making it appear*/
}

.nav-signup {
    /*Properties for the sign-up button on the right*/
    color: #484848;
    font-size: 25px;
    text-align: center;
    margin: auto;
    padding: 3px 35px;
    /*Changes the size of the box the text is placed in, adds 3px vertically and 35px sidways.*/
    position: relative;
    top: 10px;
    float: right;
    /*Keeps the button on the right*/
    transition: ease-in-out 300ms;
    text-decoration: none;
    border-radius: 20px;
    /*Gives it the curved border*/
    border: #01AE07 2px solid;
    /*Give it a green solid border 2px thick*/
    background-color: white;
    z-index: 10;
}

.nav-signup:hover,
.nav-signup:active {
    /*When the signup button is hovered*/
    color: #FFF;
    /*Change font color*/
    background-image: linear-gradient(45deg, #12D619, #23EB2A);
    /*Gives it a gradient background on hover*/
    border: #12D619 2px solid;
    /*Gets rid of the border*/
}

#dd {
    /*Looks for 'id="dd"' in HTML and not 'class="dd"'*/
    display: unset;
    width: fit-content;
    overflow: hidden;
    position: unset;
}

#ddcontent {
    visibility: hidden;
    position: absolute;
    background-image: linear-gradient(135deg, #01AE07, #068D0B);
    transition: ease-in-out .3s;
    width: 100%;
    left: 0%;
    top: 0;
    opacity: 0;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}

.mobile #ddcontent {
    /*Changes ID's with the class mobile*/
    left: 0;
    opacity: 1;
    visibility: visible;
}

.mobile #icon span {
    background: white;
}

.mobile .nav-signup {
    border: white 2px solid;
    background-color: transparent;
    color: white;
}

.mobile .nav-signup:hover,
.mobile .nav-signup:active {
    border: #01AE07 2px solid;
}

.mobile .nav-logo {
    background-image: url(/imgs/bobuxlogo-whiteflat.svg);
    position: relative;
}

#ddcontent a {
    font-size: 20px;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    transition: ease-in-out .3s;
    position: relative;
    top: 73px;
    display: table;
    margin: 10% auto;
}

#ddcontent a::after {
    content: "";
    display: block;
    height: 2px;
    background-color: transparent;
    width: 0;
    transition: ease-in-out 300ms;
}

#ddcontent a:hover::after,
#ddcontent a:active::after {
    width: 100%;
    background-color: #FFF;
}


/*Burger menu CSS for mobile, takes up a lot of space because of all the animation*/

#icon {
    z-index: 10;
    display: none;
    width: 18px;
    height: 16px;
    transform: rotate(0deg);
    transition: 300ms cubic-bezier(.97, 0, .89, .97);
    cursor: pointer;
}

#icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #484848;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 300ms cubic-bezier(.97, 0, .89, .97);
}

#icon span:nth-child(1) {
    /*:nth:child(x) targets number x <span> child of 'id="icon"', in this case x = 1*/
    top: 0px;
}

#icon span:nth-child(2),
#icon span:nth-child(3) {
    top: 6px;
}

#icon span:nth-child(4) {
    top: 12px;
}

#icon.open span:nth-child(1),
#icon.open span:nth-child(4) {
    opacity: 0;
}

#icon.open span:nth-child(2) {
    transform: rotate(45deg);
}

#icon.open span:nth-child(3) {
    transform: rotate(-45deg);
}


/*End of burger*/

.center {
    margin: auto;
    text-align: center;
}

.heroimage {
    /*Properties for the hero image. Percentage and VW is used to make sure it adapts well with smaller/larger screen - no time to do proper JS.*/
    margin: 7% auto auto auto;
    /*You could read this as, margin: Top Right Bottom Left or North East South West*/
    width: inherit;
    /*Inherits the width from the parent (takes the width from body)*/
    padding-bottom: 6%;
    border-bottom: #01AE07 solid 4px;
    background-image: url(/imgs/graph2.svg);
    background-size: 1800px;
    background-position: bottom right;
    /*Keeps the background to the right*/
    background-repeat: no-repeat;
}

.homehero {
    /*Properties for the text container*/
    margin: auto auto auto 6%;
    width: 52%;
    /*Width is 52% of heroimage*/
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.7);
    /*A subtle gradient to help with readability in some places*/
}

.homehero .header {
    /*Proerties for the main header*/
    color: #01AE07;
    font-size: 100px;
}

.header {
    font-weight: bold;
}

.header span {
    background: -webkit-linear-gradient(45deg, #01AE07, #23EB2A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subheading {
    /*Properties for the text under the main header*/
    color: #484848;
    font-size: 1.6vw;
    margin: 10% 0% 0% 0%;
    /*auto is replaced with 0% so the element doesn't center itself*/
    width: 82%;
    /*Width is 82% of herotext*/
}

.flex-container-home {
    width: 70%;
    margin: 2% auto;
}

.homecontent {
    overflow: hidden;
    padding: 4%;
}

.hdiw {
    overflow: hidden;
    padding: 4% 0 0 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), #01ae0727);
}

.homecontent .header {
    font-size: 50px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    margin: auto;
}

.row:after {
    display: table;
    clear: both;
}

.column {
    width: 24.3%;
    margin: 2.1vw;
    padding: 2.1vw;
    text-align: center;
    min-height: fit-content;
    transition: .3s ease-in-out;
    position: relative;
    height: 440px;
}

.column:hover {
    background-color: #f5fff5;
    box-shadow: #48484850 0 0 20px;
    transform: translateY(-10px);
}

.column h1 {
    font-weight: normal;
    color: #6DD571;
    font-size: 12pt;
}

.column a {
    font-size: 15pt;
}

.pickaxe,
.coin,
.bag {
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.pickaxe {
    background-image: url(/imgs/pickaxeorsurvey.svg);
}

.coin {
    background-image: url(/imgs/coin.svg);
}

.bag {
    background-image: url(/imgs/MONEYBAH.svg);
}

.contrast {
    background-color: #068D0B;
    position: relative;
    height: fit-content;
    z-index: 0;
}

.contrast .header {
    color: white;
    float: left;
    text-align: left;
    width: 100%;
}

.contrast .header span {
    color: #12D619;
}

.contrast p {
    color: white;
    float: left;
    width: 50%;
    font-size: 15pt;
}

.rocket {
    margin: auto;
    float: right;
    width: 420px;
    height: 420px;
    right: 12vw;
    top: 0;
    position: absolute;
    background-image: url(/imgs/rocket.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

.news {
    background-color: #E2E2E2;
}

.news-img1,
.news-img2,
.news-img3 {
    height: 220px;
    width: 100%;
    background-image: url(/imgs/Component\ 1\ –\ 1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.article {
    height: 360px;
}

.article:hover {
    background-color: transparent;
}

.article h1 {
    font-size: 25pt;
    font-weight: bold;
    color: #01AE07;
}

.readmore {
    width: fit-content;
    text-align: center;
    border: #12D619 1px solid;
    padding: 4px 50px;
    background-image: linear-gradient(transparent, #A7E9A923 70%, #4ED25246);
    background-position: bottom;
    color: #12D619;
    font-size: 15pt;
    text-decoration: none;
}

.readmore:hover {
    background-image: linear-gradient(transparent, #A7E9A923 10%, #4ED25246);
}

.newslet {
    position: relative;
    top: 10px;
    margin: auto;
    text-align: center;
}

.newslet a {
    color: #0088FF;
    text-decoration: none;
}

.newslet a:hover {
    color: #00aaff;
}

footer {
    overflow: hidden;
    min-height: 150px;
    background-color: #2E2D2D;
    padding: 3% 5% 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer h1 {
    color: white;
    font-size: 12pt;
}

.bobuxwhiteflat a {
    width: 100%;
    height: 50px;
    display: block;
    margin: 10px 0;
    background-image: url(/imgs/bobuxtext-whiteflat.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.footertext,
.footertext a,
.footercontact,
.footercontact a,
.socialbuttons,
.socialbuttons a,
.socialbuttons p {
    font-size: 11pt;
    color: white;
    text-decoration: none;
}

.socialbuttons {
    text-align: center;
    width: 25%;
    margin-right: 10px;
}

.socialbuttons a {
    font-size: 25px;
}

.fa-twitter,
.fa-instagram,
.fa-discord,
.fa-linkedin-in {
    display: inline-block;
    width: 20%;
    height: 25px;
}

.socialbuttons a:hover,
.socialbuttons a:active {
    color: #484848;
}

.footertext a:hover,
.footertext a:active {
    color: #484848;
}

.footercontact {
    width: 22%;
    margin-left: 2%;
}

.footercontact a {
    display: block;
    margin: 5px 0;
}

.footercontact a:hover,
.footercontact a:active {
    color: #484848;
}


/*Media queries*/

@media only screen and (max-width: 1200px) {
    .nav-logo {
        background-image: url(/imgs/bobuxlogo.svg);
        width: 60px;
        transition: 0s;
    }
}

@media only screen and (max-width: 800px) {
    #icon {
        position: relative;
        display: inline-block;
        bottom: 18px;
        right: 20px;
    }
}

@media only screen and (max-width: 1200px) {
    .navbars {
        margin: 40px;
    }
}

@media only screen and (max-width: 1000px) {
    .navbars {
        margin: 0px;
    }
}

@media only screen and (max-width: 800px) {
    .nav-button {
        color: transparent;
        display: none;
        margin: 0%;
        font-size: 0%;
    }
}

@media only screen and (max-width: 1000px) {
    .nav-signup {
        position: relative;
        top: 12px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 1200px) {
    .homehero .header {
        font-size: 60px;
    }
}

@media only screen and (max-width: 800px) {
    .subheading {
        font-size: 20px;
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .homehero {
        width: 80%;
    }
}

@media only screen and (max-width: 800px) {
    .heroimage {
        height: fit-content;
        padding-bottom: 20px;
        background-size: 1500px;
        background-position: bottom right;
    }
}

@media only screen and (max-width: 1000px) {
    .row {
        display: table;
    }
}

@media only screen and (max-width: 1300px) {
    .column {
        height: fit-content;
    }
}

@media only screen and (max-width: 1000px) {
    .column {
        margin: 2.1vw auto;
        width: 90%;
    }
}

@media only screen and (max-width: 1200px) {
    .contrast {
        padding: 2% 2%;
    }
}

@media only screen and (max-width: 1200px) {
    .rocket {
        height: 100%;
        right: 40px;
    }
}

@media only screen and (max-width: 1000px) {
    .contrast .header {
        text-align: center;
    }
}

@media only screen and (max-width: 1000px) {
    .contrast p {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .rocket {
        position: absolute;
        display: block;
        float: none;
        width: 100vw;
        top: 0;
        right: 0;
        opacity: 0.3;
    }
}

@media only screen and (max-width: 1000px) {
    .article {
        margin: 2.1vw auto;
        width: 90%;
    }
}

@media only screen and (max-width: 1000px) {
    footer {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1000px) {
    .footertext,
    .footercontact {
        width: 100%;
        margin: auto;
        text-align: center;
    }
}

@media only screen and (max-width: 1000px) {
    .socialbuttons {
        width: 50%;
        margin: auto;
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    .socialbuttons {
        width: 100%;
        margin: auto;
        text-align: center;
    }
}